[2019-03-07 19:34] rgregg opened #7 "Improve CSS for knative.dev to use our brand colors"
The landing page for knative.dev is using the default CSS for the template right now, with a few tweaks that Richie has put in there.

I'm opening this issue to track updating the CSS to have a more polished landing page.

[2019-03-22 18:02] samodell opened #13 "Add borders to tables"
Content in tables is easier to read when there are borders.

For an example of a table in our docs, see: https://www.knative.dev/docs/serving/samples/

On GitHub, the table displays with a simple border that makes it more readable: https://github.com/knative/docs/tree/master/docs/serving/samples

[2019-03-28 18:41] rgregg opened #17 "Navigation bar should say "docs" not "release: latest""
The navigation bar, especially on www.knative.dev, doesn't have an entry for Docs, it just has a drop down to select the version.

On the landing page/non-docs pages, it should say "Docs" and take you to the latest release when you click on that.

On docs pages, it could either say the same and we move the version selector somewhere else (right column) or we could keep it in the navigation bar.

[2019-03-28 18:42] rgregg opened #18 "Edit page button on a specific release doesn't take you to the right place"
If you're viewing an older release, like 0.3, and click the Edit Page button, it takes you to an invalid URL.

[2019-03-28 20:20] RichieEscarez commented on #18
Have an idea of how to fix this (will add logic to find the current page and then establish the GitHub url base off of that page's URL) - https://github.com/knative/website/blob/master/layouts/partials/page-meta-links.html

[2019-03-28 20:57] #17 closed

[2019-04-01 18:23] #18 closed

[2019-04-02 04:40] rgregg opened #23 "Search results include advertisements"
When we do a search, ads for related terms appear on the search page. We should be able to opt out of those.

https://www.knative.dev/search/?q=testing

[2019-04-02 21:56] #7 closed

[2019-04-03 20:57] bbrowning opened #25 "Unable to create permanent link to docs for latest Knative release"
Today https://www.knative.dev/docs/ points to docs for the 0.4 releases of Knative. Soon that same URL will point to 0.5. What I'd like to be able to do is create a permanent link to the docs for any specific Knative version, even the most recent release.

I can create a permanent link for older docs, like the 0.3 release, as the URL looks like https://www.knative.dev/v0.3-docs/

But for the curre

[2019-04-08 17:49] RichieEscarez commented on #25
Ill investigate. My initial thought is that we stop using a generic /docs/ URL for the latest version and instead, always just redirect any /docs/ URL (ie. -> .../v0.5-docs/). The use of /docs/ stems from the Hugo templating site generator (/docs/ is a template definition) but ill look into our options for either redirecting, replacing /docs/, or implementing an intuitive user flow.

[2019-04-08 21:15] RichieEscarez opened #30 "Take a step towards improved SEO with synonyms"
We can add synonyms to our search settings in addition to good titles, filenames, and time (the more that users click and navigate to our site and specific pages, we will eventually climb higher up in the results).

Details here: https://support.google.com/customsearch/answer/4542403

What are the industry terms being used that we can associate with our Knative terms and language?

Add here, ping,

[2019-04-08 21:17] RichieEscarez commented on #23
Blocking item: knative specific `@gmail.com` account

[2019-04-10 13:46] bbrowning commented on #25
We could add a subfolder for the latest Knative release by adding a `cp -r` command around https://github.com/knative/website/blob/0eeeff1d4738ee96cd4afc2883a38a4c837dbe61/scripts/build.sh#L83-L88 to put the latest release docs under both `/docs/` and `/v-0.5-docs`. That would let someone manually create a permalink to docs for the latest release by editing the URL.

However, I do think a redirect

[2019-04-10 13:49] bbrowning opened #31 "Docs version switcher uses both "development" and "Pre-release""
In the dropdown of the version switcher, it lists "development" to see in-progress docs for the upcoming release. But, if you choose that version, the title of that same version switcher says "Pre-release". Should we choose just one of those terms and use it consistently in the version switcher?

[2019-04-11 18:09] RichieEscarez commented on #25
For SEO and clarity, I'd like a solution that avoids duplicate content (ie single source of truth) -> having users hit /docs/ somethings and /v0.5/ sometimes wont provide clear search results.

Perhaps the inverse might also work? Where any knative.dev/**v0.?-docs**/ gets redirected to the /**docs**/ folder. Permanents links to that specific version would then persist and directly open to the righ

[2019-04-11 18:11] RichieEscarez commented on #31
This was an intentional effort to "quickly" deliver a clear message that the "development" section of the site is a "pre-release" version (the goal was to be as obvious as possible and "pre-release" was more intuitive). To use "pre-release" everywhere, is to change the URL/folder name where the content gets hosted (thus the quick change in just the label).

We are worried that since most of the ot

[2019-04-11 20:17] bbrowning commented on #31
I agree that we don't want users stumbling into the wrong section of the website. The easiest thing may be to just entirely remove references to pre-release docs from knative.dev and move them to a subdomain as that gives you maximum flexibility in pre-release docs styling and warnings that this isn't for official releases.

[2019-04-11 21:08] rgregg commented on #23
Does the email address get published anywhere? We should probably create a knative-website Google Group that's shared among the WG leads for this purpose.

[2019-04-11 21:25] RichieEscarez commented on #23
I suppose the address could be published but the idea is to create a single/separate account that we can tie the Custom Search Engine account to (and I suppose we would also tie it to the Analytics account).

[2019-04-11 21:34] RichieEscarez commented on #23
I tried to create a new gmail account, specifically "knative@gmail.com" but it already exists and I'm wondering if we own that before trying to create another account?

Something like a Google Group address wont work because it still gets tied to a specific email account (you can assign owners but you need to sign in with a user account to create the group in the first place).

If we dont know who

[2019-04-16 16:54] RichieEscarez commented on #23
Fixed: https://github.com/knative/website/pull/34

[2019-04-16 16:54] #23 closed

[2019-04-19 18:44] samodell commented on #13
Hm, @RichieEscarez , it looks like there are now horizontal borders for rows in tables, but columns still don't have a border. A simple 1px border on all sides is what I was hoping for, to mimic the way GitHub renders tables.

[2019-04-19 19:04] RichieEscarez commented on #13
We need to override the default Docsy CSS. We can circle back around when things start to cool down a bit.

[2019-04-19 19:05] samodell commented on #13
Yeah, totally not high priority.

[2019-04-19 19:06] RichieEscarez commented on #13
Another option would be to request that update to the template (sounds like it would be beneficial to all)? https://github.com/google/docsy/issues

[2019-05-01 20:36] RichieEscarez opened #39 "Document the knative.dev maintainer instructions"
Need to capture the process and steps for how to maintain the knative.dev website at knative.dev

- Why and how to keep the Staging branch in sync: https://github.com/knative/website/tree/staging
- Docsy - Keeping our theme up to date: https://www.docsy.dev/docs/updating/
- Netlify auto PR builds: https://app.netlify.com/sites/knative/deploys
- Hugo + limitations: No nested shortcodes

[2019-05-07 21:15] rgregg opened #40 "Website should pull community content from knative/community instead of knative/docs"
I've just created the new knative/community repo to hold our governance and community docs and copied the content from the docs repo.

However, I can't remove the content from docs until we have the website setup to pull in the content from the new repo. Looks like we need to update the build script to clone the latest content from that repo into the content folder as part of the pre-hugo steps.

[2019-05-08 23:07] #40 closed

[2019-05-09 00:19] RichieEscarez opened #42 "Fix "Edit this page" and "Create issue" buttons for knative/community"
With the content for all contributor and governance that now lives in knative/community, the right side content bar with the auto generate edit this page and create issue need to be update to point to the new repo.

Need to add logic to look for the "contributing" section and then build the links to point to the knative/community repo [in this file](https://github.com/knative/website/blob/master/l

[2019-05-09 00:25] RichieEscarez opened #43 "Add a webhook to the knative/community for auto builds"
Investigate whether its necessary to connect knative/community to the docs builds in netlify (auto rebuild for merged content?). The alternative is to manually kick off a build.

[2019-05-09 20:13] RichieEscarez opened #46 "Make search results filter by version"
With multiple versions, results from a search within knative.dev include several similar or complete duplicates of a single topic.

We also need to be able to filter out or remove certain content. For example, the "development" content (`master` branch) should not appear in the results.

[2019-05-10 15:17] #42 closed

[2019-05-30 23:51] RichieEscarez opened #50 "Add knative/community URL handling"
Viewing from GitHub repo shows broken links for community content.

We should update the script to convert fully qualified URLs into knative.dev relative URLs.

For example:

(support linking in GitHub)
https://github.com/knative/community/blob/master/CONTRIBUTING.md

(convert to relative link for website)
contributing/contributing

[2019-05-30 23:56] RichieEscarez opened #51 "Merge top level "Contributing" into a subsection in "Community""
To align with community views, we should merge both the "community" and "contributing" sections in the website into just "Community".

There should be clear sections within "Community":

- Learning, discussion groups, help resources
- Contributor Guidelines (currently all under the "contributing" section)
- Community contributed and owned code samples

[2019-06-07 17:38] RichieEscarez commented on #51
/cc @rgregg @evankanderson

[2019-06-17 16:01] dprotaso opened #54 "Remove build docs from Knative website"
related: https://github.com/knative/docs/issues/1475

[2019-06-17 16:53] samodell commented on #54
This will be handled by removing the content in the docs repo. (No changes needed to this website repo directly, AFAIK.) @RichieEscarez  can reopen if I'm mistaken.

[2019-06-17 16:53] #54 closed

[2019-06-17 21:18] RichieEscarez opened #55 "Investigate Link Checking"
Some suggested link checkers (from other peer OSS projects):
- https://github.com/wjdp/htmltest
- https://github.com/raviqqe/muffet

Ideally, this is done across the whole site and also with a linter before a PR gets merged (to enable authors and prevent 404s from even happening).

Background: https://github.com/knative/docs/issues/772

[2019-06-17 21:23] RichieEscarez opened #56 "Investigate tools for auto changelog generation"
Look into how to automatically summarize change for a release in the knative/docs repo.

Potential option(s):
- https://github.com/github-changelog-generator/github-changelog-generator was suggested by a peer OSS project

cc/ @eallred-google @samodell

[2019-06-18 21:25] kzjackson1 opened #57 "Code Copy Buttons"
Is it possible to have code copying buttons so that copying code from quick-start guides and tutorials is easier? I think the more technical term for that is 'code highlighting', but regardless, it would make code transfer faster in some of the tutorials.

[2019-07-31 05:30] rgregg opened #64 "Use Knative to host the Knative website"
I spent a little spare time over the weekend looking at containerizing the Knative website so that it could be run on a Knative-compatible host. Turns out it wasn't that hard to move everything into a two-stage `docker build` flow.

I haven't moved all of the configuration in the current build script, e.g. supporting PRs.

I've pushed these changes to a fork of this repo, here: https://github.com/

[2019-07-31 16:18] samodell commented on #64
I think it's a nice idea, but I think we lose a lot of the safety and predictability of using Netlify, as well as a lot of the work Richie has done to hook up Netlify to Github, where we see automatic staging builds in the website repo.

It also sounds like a fair amount of work for a small tangible benefit -- most folks are not going to care what backend we run the site on. Right now, it is a bit

[2019-07-31 16:35] RichieEscarez commented on #64
I like it and I'm very much open to the idea but I need to think about this more.

Does porting over functionality include GitHub PR integration (ie. build staged draft for preview and also publish new merged content)? As Sam touches on, I'd hate to see any regression from where we've gotten to but appreciate the fact that we would overall gain more control.

Thinking further out, who do you envis

[2019-07-31 16:41] rgregg commented on #64
Netlify has been great for bootstrapping our website. As we get closer to GA, we need to  be using Knative more in production ways, and this seems like a way to do that with great visibility  (both in terms of usage and finding issues, since if the website breaks due to Knative we'll know pretty quickly). I'd love to see our website adopting more of the best practices that we're encouraging with K

[2019-07-31 16:57] samodell commented on #64
Well, that I'd be in favor of! I thought this plan involved Richie maintaining the new Knative-based version of the site 😂

[2019-07-31 17:20] RichieEscarez commented on #64
Sounds good to me too.

[2019-08-01 09:27] 41tair opened #65 "all quotation mark was rendered as html code"
![image](https://user-images.githubusercontent.com/18530891/62281929-39804800-b481-11e9-8e79-d3feb76f3847.png)

[2019-08-01 17:47] samodell commented on #65
This is a known issue; see https://github.com/knative/docs/issues/1472

Fix in progress!

[2019-08-01 21:29] samodell commented on #65
Fixed by: https://github.com/knative/website/pull/62

[2019-08-01 21:29] #65 closed

[2019-09-03 22:04] RichieEscarez opened #90 "Need custom 404 page to redirect to knative.dev"
For pages or content that get deleted from a new release, we should have a 404 page to explain that users can look in an archived branch for deleted content.

[2019-09-09 22:46] RichieEscarez opened #91 "Tabbed content in single page? Like cloud.google.com?"
For content that only differs by programming language (ie. Hello World code samples), can we use the `readfile` shortcode to mimic the c.g.c site behavior where a single page houses multiple tabs that each contain different content?

cc/ @matzew

[2019-10-22 23:18] RichieEscarez opened #98 "Improve Nav menu behavior"
Add click to close nav section:

Allow users to click on a menu section (ie. a topic in the menu that include child nodes) to not only open but also close. For sections with lots of child nodes that span the whole screen, its better (expected) behavior to click once more to close that really long section (to view the contents that gets pushed off the screen).

[2019-11-01 17:26] RichieEscarez opened #102 "Other site related issues that were opened in the knative/docs repo"
https://github.com/knative/docs/projects/19

[2019-11-01 17:29] RichieEscarez opened #103 "Click to open code sample button"
Update the existing [readfile shortcode](https://github.com/knative/website/blob/master/layouts/shortcodes/readfile.md) to include a button that opens the code sample in new window.

[2019-11-14 18:44] #31 closed

[2019-11-14 21:27] #25 closed

[2019-11-15 01:08] RichieEscarez commented on #55
Done: https://github.com/knative/docs/pull/1963

[2019-11-15 01:08] #55 closed

[2019-11-15 17:53] RichieEscarez commented on #43
Since the knative/docs builds run often and also picks up all changes from within knative/community, I don't think this is necessary (given the very low number of changes that occur in that repo). An immediate knative.dev site build can also be triggered if necessary.

[2019-11-15 17:53] #43 closed

[2019-11-15 19:42] RichieEscarez commented on #39
Related:
https://github.com/knative/docs/issues/1917
https://github.com/knative/docs/issues/1344

[2019-12-03 18:56] RichieEscarez opened #108 "Update Hugo version (which updates Go)"
I found that by updating Hugo to [0.56.0](https://github.com/gohugoio/hugo/releases/tag/v0.56.0) we can resolve some of the odd rendering on knative.dev around nested lists and codeblocks.

[2019-12-03 19:30] #108 closed

[2019-12-03 23:13] RichieEscarez opened #109 "Investigate Hugo v0.60.x for knative.dev"
Hugo now uses goldmark as default markdown renderer in the latest version of Hugo. Preliminary test show that it resolves the issues captured in https://github.com/knative/docs/issues/1202 (nested lists and codeblocks render out of order and incorrectly indented while GitHub renders the markdown without error).

There are some breaking changes noted but its unclear what the impact is to knative.de

[2019-12-17 21:51] RichieEscarez opened #114 "Enable and then add (or replace) line highlighting for code syntax"
https://gohugo.io/content-management/syntax-highlighting/#highlighting-in-code-fences

With Hugo 0.60.x you can specify which lines in a code block that you want highlighted (for example to show/demonstrate how and where to add an element in a config file).

[2019-12-17 22:59] RichieEscarez commented on #91
A related Hugo shortcode that could be modified to accomplish the desired "tabbed content" behavior:
https://gohugo.io/getting-started/code-toggle/

[2019-12-18 18:37] #109 closed

[2020-01-02 22:19] evankanderson opened #118 "Content rendering is hiding the title and first lines"
See https://knative.dev/contributing/mechanics/feature-tracks/ for an example.

![Screen Shot 2020-01-02 at 14 18 41](https://user-images.githubusercontent.com/7959095/71696813-da459d00-2d6a-11ea-8cc6-9831e65df49f.png)

[2020-01-02 22:28] evankanderson commented on #118
This seems to be due to the following CSS:

[code]

We may need something that adds a margin to the top of the page when the page is wider than 768px.

[2020-01-23 19:03] samodell opened #122 "Add social image preview to knative.dev"
Copied from the Docs repo: https://github.com/knative/docs/issues/1696

From @steren :

When I share https://knative.dev/ on Twitter, no image thumbnail appears in the twitter card.
You can test this at https://cards-dev.twitter.com/validator

How to fix:

Add the appropriate tags so that Twitter and other social networks pick up the Knative logo as thumbnail as well as a nice summary

[2020-01-30 01:12] mattmoor opened #125 "This repo needs a DEVELOPMENT.md"
How do I test changes here (perhaps in concert with docs) locally (or remotely!)?

/assign @samodell

[2020-01-30 15:31] mattmoor opened #126 "Feature State shortcode"
It would be useful to have a featurestate shortcode akin to: https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#feature-state-code

[2020-01-30 15:32] mattmoor commented on #126
For a good example of this in action see here: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2020-01-30 18:25] #50 closed

[2020-02-06 00:34] mattmoor opened #128 "Release Artifact shortcode"
Today we embed `{{< version >}}` into URLs to synthesize release URLs.

This doesn't really work for the pre-release docs, which would ideally reference nightly builds 👌

What if we had a shortcode that could produce the appropriate artifact path based on version?

e.g. `{{< artifact repo="serving" name="serving-core.yaml" >}}`

[2020-02-07 07:05] mattmoor commented on #126
I have a PoC that allows us to add static snippets (I think a popover vastly exceeds my skills), it supports short and long form both visible here:
![image](https://user-images.githubusercontent.com/2442466/74008183-1903df80-4935-11ea-96bd-f62402d00176.png)

[2020-02-07 07:21] mattmoor opened #131 "shortcodes with HTML in {{< tab >}} are stripped"
So I hit this trying to use https://github.com/knative/website/issues/126 from within a tab...

Basically, unless I flip the switch to allow HTML through from markdown (even though the HTML is coming from a shortcode!) the HTML generated by my feature-state is scrubbed 😢

I suspect that this is a problem with tab, not the new stuff, but I don't speak this stuff well enough to meaningfully debug (i

[2020-02-07 18:21] RichieEscarez commented on #131
@mattmoor, each shortcode gets sent to the markdown processor by default but there are ways to indicate not to process (ie. just copy content). Hugo gets unhappy we you nest shortcodes (one calls the other, etc.).

Sorry i dont have time to dig in but i describe some of this here in the [readfile](https://github.com/knative/website/blob/master/layouts/shortcodes/readfile.md) shortcode.

In short `

[2020-02-08 16:03] mattmoor commented on #131
@RichieEscarez that's super helpful, I will dig into that some more :)

[2020-02-08 22:46] mattmoor commented on #131
I think that this is essentially what the tabs are hitting:
[code]

[2020-02-08 23:11] mattmoor commented on #126
/assign

[2020-02-10 22:47] samodell opened #137 "Add how-to-use documentation for Tabs shortcodes, similar to Readfile shortcode"
All other shortcodes have a comment explaining how the shortcode works and how to use it.

For example, https://github.com/knative/website/blob/master/layouts/shortcodes/readfile.md

The Tab.html and Tabs.html should also have comments about how they work and how to use them.

[2020-02-10 23:49] #128 closed

[2020-02-11 00:05] mattmoor opened #139 "tabs and preformatted blocks have different widths"
If you look at the width of the tab and the preformatted block inside and outside of the tab, the borders all show at different widths.  This issue tracks bringing some consistency to that.
![image](https://user-images.githubusercontent.com/2442466/74201544-f3b9ee80-4c1e-11ea-8d7b-1ab06daeec4e.png)

cc @lionelvillard for CSS wisdom 🙏

[2020-02-11 00:38] lionelvillard commented on #139
https://github.com/knative/website/pull/135 fixes it.

[2020-02-11 00:44] mattmoor commented on #139
😍 thanks!

[2020-02-12 20:54] #126 closed

[2020-02-12 20:55] #137 closed

[2020-02-13 01:08] duglin opened #140 "Add editable search box to search results page"
Describe the change you'd like to see
From this page: https://knative.dev/docs/
if I enter a search phrase I get a new tab/window with the results.
However, the search phrase is not shown to me on that results page in an editable form. Which means if I had a typo in my search I need to close the window and use the old/previous window. It would be nice if I could just edit the search phrase on this

[2020-02-13 17:51] RichieEscarez opened #141 "Investigate the use of container images"
https://hub.docker.com/r/klakegg/hugo

[2020-02-14 18:08] RichieEscarez commented on #57
Need to investigate https://prismjs.com/ (another Docsy user sited the syntax highlighting features that include the "click to copy" feature)

[2020-02-24 21:50] #51 closed

[2020-02-24 21:54] RichieEscarez opened #142 "Need to update the GitHub link logic because its under Community"
In the file below, the logic needs to point to knative/community for all but the code samples under the "Community" section on knative.dev

https://github.com/knative/website/blob/master/layouts/partials/page-meta-links.html#L49

Since Contributing was merged under Community, this condition no longer works:
`{{ if eq $pageSection "contributing" }}`

[2020-02-24 21:58] RichieEscarez commented on #125
We have this (been on the back burner so its still sitting in an issue and likely lacking some detail): https://github.com/knative/docs/issues/1917

[2020-02-29 00:01] evankanderson commented on #118
This seem to be working now.

/close

[2020-02-29 00:01] #118 closed

[2020-03-02 22:49] mattmoor commented on #64
FWIW I have this running against knative/docs PRs where it builds docs and website (HEAD) into a container image that runs on knative/serving using the local build as an entrypoint.

[2020-03-27 07:46] MIBc opened #154 "Repeated release labels shown on website"
There are two release `v0.12` labels in release selection.
![image](https://user-images.githubusercontent.com/4477478/77733593-1d4d9e80-7042-11ea-854d-ac11fc89dbe0.png)

Releated issue: https://github.com/knative/docs/issues/2328

[2020-04-14 20:58] evankanderson opened #158 "Reduce the amount of one-shot shell scripting during development"
It would be nice to be able to use symlinks and hugo's ability to reload dynamic files during development, rather than needing to re-run `localbuild.sh`.

This produces three benefits:

* The golang is probably more approachable for many developers, especially as the `find` commands become more complex.
* The golang templates are applied when the content is rendered, which reduces the risk of corr

[2020-04-14 23:07] #125 closed

[2020-04-30 09:06] rhuss opened #170 "site_cookie is only valid for 7 days"
When accepting the site_cookie, its epxires within ~ 7 days. I just cleared the cookie and reaccepted it, but got this expiry datum:

![image](https://user-images.githubusercontent.com/99080/80692755-5a3e0280-8ad2-11ea-8bf3-81e3a05a4582.png)

I've seen in the code that it sets the expiry to 365 days, but this doesn't seem to work.

I'm located in Europe (GMT+2) (as `cookie-consent.js` makes a diff

[2020-04-30 09:11] rhuss commented on #170
I think this code here

https://github.com/knative/website/blob/ec22c6c8faf4d338ea12a3ca3642062425f3516c/static/js/js.cookie.js#L55-L57

is just wrong:

![image](https://user-images.githubusercontent.com/99080/80693451-4fd03880-8ad3-11ea-8ba6-8921a7a56ec7.png)

[2020-04-30 09:48] rhuss commented on #170
Looks like its my browser (Brave) only that limits the expiry date to 1 week for all cookies (not sure whey). Works for Chrome & Firefox ootb (i.e. setting the expiry date to 365 days ...)

Sorry for the noise ...

[2020-04-30 09:48] #170 closed

[2020-05-21 17:25] evankanderson opened #175 "Support deep-linking to tabs"
From @mattmoor

One thing I do NOT like about the tabs is that I cannot deep-link an optional install guide

[2020-05-21 19:20] macruzbar opened #176 "Track use cases for vendor-specific blogs"
In this issue, @abrennan89 and I are tracking implementation scenarios to create a specific blog template in the blogging guidelines I'm working on.

[2020-05-21 19:28] abrennan89 commented on #176
/assign @macruzbar @abrennan89

[2020-05-26 23:35] macruzbar opened #177 "Add byline to the blog"
## What is changing? (Please include as many details as possible.)
We are adding a static information field to blog entries on Knative.dev

## How will this impact our users?
Users will be able to know who is writing stories and can contact them if they need; Knative contributors can get more recognition for their work

## In what release will this take happen (to the best of your knowledge)?
N/A

[2020-05-28 18:38] evankanderson commented on #175
/kind good-first-issue

[2020-05-29 18:21] evankanderson commented on #177
/kind good-first-issue

This probably involves updating this template: https://github.com/knative/website/blob/master/layouts/blog/baseof.html

[2020-06-01 21:41] macruzbar commented on #177
@evankanderson how can we move this issue forward?

[2020-06-03 15:38] abrennan89 commented on #154
This seems to be fixed in the v0.14 docs?
/close

[2020-06-03 15:38] #154 closed

[2020-06-18 18:35] evankanderson commented on #175
/kind good-first-issue
/good-first-issue

[2020-06-26 20:29] bryeung commented on #177
/assign I'm going to try taking a look at this on Monday, though I'll have to start by figuring out how our website works at all.

[2020-06-29 14:13] bryeung commented on #177
/assign

(Sorry, still learning the github interface.)

[2020-06-29 14:48] bryeung commented on #177
I'm not sure I understand the issue. If authors put an author line in the header of the blog entry, then it will already be rendered by the template.

See the attached fake blog entry and screenshot of how it renders.

<img width="410" alt="Screen Shot 2020-06-29 at 10 46 10 AM" src="https://user-images.githubusercontent.com/417798/86020373-d5019c00-b9f5-11ea-926c-75b10e4ec09a.png">
[author.html.t

[2020-06-30 01:27] macruzbar commented on #177
It looks like we only need to request that blogpost submitters add the _author_ field on the template when they submit an .md file

[code]

Closing this issue for now.

[2020-06-30 17:24] macruzbar commented on #177
Hi @bryeung I tried [adding](https://github.com/knative/docs/pull/2623) the author field to the blog template, but [it didn't work](https://knative.dev/blog/2020/05/01/getting-started-with-knaitve-eventing-using-bitcoin-transaction-data/). I think we need to modify [the template](https://github.com/knative/website/blob/master/layouts/blog/baseof.html) for it to work, but I'm not sure where to add

[2020-06-30 18:19] bryeung commented on #177
When I tried to build the website with your change included, it failed. Do we not test this before merging?

Anyway, I think you just need to quote the author and it'll work:
https://github.com/knative/docs/pull/2629

There should be no change needed to the template.

[2020-06-30 19:12] richterdavid opened #188 "improve webdev and pagespeed scores"
Google's public website measurement tools indicate that knative.dev and the pages on that site could use some improvements.

https://web.dev/measure/
https://developers.google.com/speed/pagespeed/insights/?url=knative.dev&tab=mobile
https://developers.google.com/speed/pagespeed/insights/?url=knative.dev&tab=desktop
https://www.thinkwithgoogle.com/feature/testmysite/
testmysite report: https://stor

[2020-07-08 01:32] macruzbar commented on #177
Thank you!

[2020-07-08 01:32] #177 closed

[2020-08-20 20:53] RichieEscarez commented on #90
Example of what a custom 404 will improve/avoid: https://knative.dev/development/install/knative-custom-install/

![image](https://user-images.githubusercontent.com/11762685/90824602-81704800-e2ec-11ea-87ee-1f91e7117a1a.png)

[2020-08-25 21:51] RichieEscarez opened #204 "slack.knative.dev is 404"
The vanity URL slack.knative.dev no longer works (redirects to this non functioning "join Knative" link: https://join.slack.com/t/knative/shared_invite/enQtNDA1ODA1MTc2NjE1LTA3ODU5ZDlmMTg2N2MzMGI2NDc0YzkxMTg5MWRhNmZlYjgwMTM2NzE3ZThkYzgzMjE5ZTExYTMwMmEyZjk5ZTQ&usg=AOvVaw0A2SyTvfGCJV-cIeF5kLiK).
That vanity link is everywhere and currently displays a "This link is no longer active" page.
This issue

[2020-08-26 16:14] evankanderson commented on #204
I think we previously had slack.knative.dev set up to redirect to a Slack invite link.

My recollection was that the invite link expired after 6 months, so the redirect needed to be updated around that time. I think Ryan Gregg did most of that work, so it's not surprising that some of that might have stopped working.

[2020-08-26 16:16] evankanderson commented on #204
Here is an invite link that does work, but I don't have access to change slack.knative.dev :

https://join.slack.com/t/knative/shared_invite/zt-fzy43r2f-i4oJraPBHlBFp00v6NeI9w

[2020-08-26 17:08] RichieEscarez commented on #204
Thanks @evankanderson, I'll try to push this through (maybe with help from @grantr)?

[2020-08-26 17:16] RichieEscarez commented on #204
Looks like we need help from @chaodaiG (ive assigned the change)

[2020-08-26 18:22] coryrc commented on #204
I'll see if I can make it redirect to the link Evan provided

[2020-08-26 18:24] RichieEscarez commented on #204
@coryrc there should be a CL in your inbox

[2020-08-26 19:02] coryrc commented on #204
In an incognito window, `slack.knative.dev` appears to be using Evan's new link

[2020-08-26 19:34] RichieEscarez commented on #204
Thank you all for helping get the fix out!

[2020-08-26 19:34] #204 closed

[2020-09-14 23:36] RichieEscarez commented on #142
More content has been added to knative/docs that gets published under the "Community" section of the site in addition to the code samples ( [like meetup and annual reports](https://github.com/knative/docs/tree/master/community) ). The fix is no longer straight forward give that half the content each live in different repos.

#211 fixed the original issue but there is more to do for stuff in https:

[2020-09-29 21:10] RichieEscarez commented on #141
Linking related info: https://github.com/google/docsy-example/pull/75/files

[2020-09-29 21:11] RichieEscarez commented on #131
Known Hugo limitation: https://discourse.gohugo.io/t/call-shortcodes-in-markdownified-text/21189

[2020-09-29 21:13] RichieEscarez commented on #57
Docsy now supports prism: https://github.com/google/docsy/pull/325

[2020-09-29 21:53] RichieEscarez commented on #39
Ellen revised a draft for us here: https://github.com/knative/docs/issues/2668

[2020-10-02 04:13] tnir opened #224 "Top page is hard to read on mobile"
Top page is hard to read on mobile due to too broad margin on both sides.

e.g., on iPhone SE:

![knative dev_(iPhone 5_SE)](https://user-images.githubusercontent.com/10229505/94887283-ea80d900-04b0-11eb-9c95-ced73ddedc3d.png)

[2020-10-02 05:36] tnir commented on #224
google/docsy#344 might resolve this...

[2020-10-05 05:26] #224 closed

[2020-10-06 22:26] RichieEscarez commented on #57
New docsy features have been merged into our repo adding support for us to use the "click to copy" feature mention here: https://www.docsy.dev/docs/adding-content/lookandfeel/#code-highlighting-with-prism

Open issue: We need to reconfigure our site settings, test, and then merge before we can actually use the new feature

[2020-10-07 17:44] RichieEscarez opened #227 "Investigate nested shortcodes (how to use .Parent variables)"
A PR from last Oct added this to the Hugo docs: https://gohugo.io/content-management/shortcodes/#nested-shortcodes

"You can call shortcodes within other shortcodes by creating your own templates that leverage the .Parent variable. .Parent allows you to check the context in which the shortcode is being called."

The example: https://gohugo.io/templates/shortcode-templates/#nested-shortcode-image-g

[2020-10-07 17:50] RichieEscarez opened #228 "Leverage existing shortcodes"
Adopt existing OSS shortcodes to add content highlighting, like these [callouts](https://istio.io/latest/about/contribute/shortcodes/#callouts)

[2020-10-07 23:03] RichieEscarez opened #229 "What repos and APIs are missing?"
Do we need to add the KN cli to the reference section? Need to investigate how thats possible.

What about other repos? A recent email says knative/eventing-contrib is splitting (creating other/separate repos). Do the new repos need to be added to the API build and published on knative.dev?

[2020-10-16 18:58] RichieEscarez opened #230 "Readmes are being removed and content is added in _index.md"
Content in _index.md files must not include the .md file extensions which is not a valid Markdown link and causes the Markdown link checker to always report a broken link (ie. with the .md, the link points to a non-existent folder).

The doc builds were initially set up to ignore _index.md files but now that README.md files are being removed and content is being directly added in the _index.md fil

[2020-10-22 02:34] RichieEscarez opened #231 "Update/rebase our custom Knative override files with Docsy HEAD"
We created several customizations to the original  Docsy template (we started with an alpha/pre-released version): https://github.com/knative/website/tree/master/layouts

(Note: any file in the Knative `layouts` folder overrides the corresponding file from the Docsy template)

The Hugo and Docsy versions of knative.dev have been updated to recently. To override a template file, you copy the origin

[2020-10-22 03:33] RichieEscarez commented on #175
The tabs use Bootstrap ([class=tab=pane](https://github.com/knative/website/blob/master/layouts/shortcodes/tabs.html#L34)). I think this feature would need custom javascript to be able toggle to the tab that you want: https://getbootstrap.com/docs/4.0/components/navs/#methods

[2021-02-03 00:24] RichieEscarez commented on #131
Looks like there might be a path to fixing this but some investigation and testing needs to be done: https://github.com/knative/website/issues/227

[2021-02-14 07:59] rhuss opened #250 "Introduce golang import namespace "knative-sandbox.dev" ?"
Currently (as pointed out and briefly discussed in https://github.com/knative/website/pull/187/files#r485484109) every `knative` and `knative-sandbox` repo is unconditionally added to the `knative.dev` golang vanity domain. I think the original motivation was to make migration of various repos originally hosted as part of the knative GitHub to the `knative-sandbox` easier. But on the other hand, a

[2021-02-18 21:03] omerbensaadon opened #253 "Update /config/production/params.toml with community-owned search engine ID"
Not pressing, just putting this here as a reminder

[2021-03-04 18:15] RichieEscarez commented on #230
Re: knative/docs#3286, logic for the broken GitHub links to source files is here: https://github.com/knative/website/blob/master/layouts/partials/page-meta-links.html#L26

[2021-03-05 00:16] #230 closed

[2021-03-10 01:53] #253 closed

[2021-03-10 20:42] rhuss commented on #250
no need to change the current behaviour, so that we can keep import paths stable in case something is moving from knative-sandbox to knative.

[2021-03-10 20:42] #250 closed

[2021-03-19 15:21] csantanapr opened #271 "Add link for ux problems to the web site"
During the TOC meeting, this week @evankanderson suggested adding something on the website for users to open an UX issue

This is the [Usability Issue Template](https://github.com/knative/ux/issues/new?assignees=&labels=kind%2Ffriction-point&template=friction-point-template.md&title=)

Currently, there is a link already [Create a documentation issue](https://github.com/knative/docs/issues/new?titl

[2021-03-19 15:21] csantanapr commented on #271
@evankanderson @omerbensaadon

What do you think we should do?

[2021-03-19 15:22] csantanapr commented on #271
/assign

[2021-03-19 15:33] omerbensaadon commented on #271
It could just be a link below "Create documentation issue" that reads "Create user experience issue" ?

I worry about confusing users...

[2021-03-19 17:05] evankanderson commented on #271
Agree that we don't want to be confusing...

Would it make sense to have just one issue link, but point it to a different repo/template depending on the page?

[2021-03-19 20:40] csantanapr commented on #271
@evankanderson right now there is only one single partial for all the docs pages. is a global thing

[2021-03-19 22:22] evankanderson commented on #271
I thought we could condition the partial on some front matter, but I didn't look at it deeply.

[2021-03-19 22:24] csantanapr commented on #271
@evankanderson Here is the [PITA](https://github.com/knative/website/blob/main/layouts/partials/page-meta-links.html#L52)

[2021-03-20 02:59] csantanapr commented on #271
I was reading the kustomize docs and saw this. "Create project issue"
Maybe this is what we use and send it to ux, and then we can take it from there and move the issue, easy to way to open an issue without the end-user learning about all the repos we have.
https://kubectl.docs.kubernetes.io/blog/2019/10/24/v3.3.0/
![image](https://user-images.githubusercontent.com/1094878/111857279-cc941d00-8906-

[2021-03-20 13:49] pmbanugo commented on #271
I would go for not having another link because it might be confusing which link to use. I prefer the text @csantanapr suggested `Have feedback? Open Usability Issue` or better IMO `Have feedback? Open an Issue`. I would change `Edit this page` to `contribute to this page` which can help with suggesting changes to the doc.

We can use multiple issue template on GitHub for `Have feedback? Open an Is

[2021-03-22 12:26] omerbensaadon commented on #271
`Does this page suck? Let us know!`

Only half joking...

[2021-03-22 12:27] omerbensaadon commented on #271
+1 to contribute to this page (even though I know most projects have "Edit this page" by default)

[2021-03-23 13:44] omerbensaadon opened #273 "Add StackOverflow Link to bottom of homepage"
<img width="1440" alt="Screen Shot 2021-03-23 at 9 43 20 AM" src="https://user-images.githubusercontent.com/16281246/112156004-3e48c100-8bbc-11eb-87fb-8122512d2729.png">

Would be great to add a link to StackOverflow at the bottom here...

Where would I PR this change?

CC: @RichieEscarez

[2021-03-25 01:07] RichieEscarez commented on #273
This is one of the dynamic template pages.

The new content would be added to this list in the config file:
https://github.com/knative/website/blob/main/config/_default/params.toml#L70

Do remember to test all screen sizes (I expect some word cut-off might happen when adding more to that row, which would require some tweaking).

[2021-03-25 11:57] omerbensaadon commented on #273
thanks @RichieEscarez I'll throw this on the To Do List

[2021-03-26 13:57] omerbensaadon commented on #273
@RichieEscarez wait I am confused...

What you linked me to doesn't look like it appears on the homepage...? I don't see any of the copy ("Interested in learning more, speaking to other contributors..." etc)

[2021-03-26 14:00] omerbensaadon opened #278 "Add a "Trusted by" section to the homepage"
One thing that came up in User Interviews is people using Knative because other large companies (VMware, Google, IBM, etc.) are using Knative.

Let's show this off on the website! I genuinely think it will promote adoption among vendors + users.

![image](https://user-images.githubusercontent.com/16281246/112642710-f4f5ad00-8e19-11eb-8110-b31571a6acf9.png)

CC: @julz @RichieEscarez

[2021-03-26 14:01] omerbensaadon commented on #278
Will also allow vendors to link to their offerings from the homepage, instead of the often neglected https://knative.dev/docs/knative-offerings/

[2021-03-26 20:00] omerbensaadon commented on #278
<img width="1440" alt="Screen Shot 2021-03-26 at 4 00 26 PM" src="https://user-images.githubusercontent.com/16281246/112686512-6cdccb00-8e4c-11eb-8889-de9c781cc804.png">

[2021-03-29 20:28] RichieEscarez commented on #273
Sorry, that is the footer for all other pages so you need to add/update the footer in both places.

Here is the main site index (it was moved to knative/website to also protect it from change since it had "marketing" language) https://github.com/knative/website/blob/main/content-override/en/_index.html

[2021-03-31 14:20] benmoss opened #280 "Serving links are broken"
The links on https://knative.dev/docs/serving/ to Service, Route, Configuration and Revision are all broken.

They are linking to URLs like https://knative.dev/blob/master/docs/serving/spec/knative-api-specification-1.0#service instead of https://knative.dev/docs/serving/spec/knative-api-specification-1.0#service

[2021-03-31 20:26] #280 closed

[2021-03-31 20:27] benmoss commented on #280
Moved it over to the docs repo https://github.com/knative/docs/issues/3405

[2021-04-26 20:53] RichieEscarez commented on #39
https://knative.dev/help/maintainer/

[2021-04-26 20:53] #39 closed

[2021-05-05 17:15] RichieEscarez commented on #142
Related: https://github.com/knative/docs/issues/3211

[2021-06-28 18:13] julz opened #316 "Should allow opting out of cookies, and respect DNT header"
Our current cookie consent flow / about cookies page instructs a user to either disable cookies or use an opt-out browser plugin. We really should allow a user to opt-out via the popup though, and respect the DNT header if set.

[2021-06-28 18:14] julz commented on #316
cc @omerbensaadon

[2021-06-28 18:19] omerbensaadon commented on #316
Ack. Can we move this to docs...?

[2021-06-28 18:20] julz commented on #316
go for it, I put it here because this is where the cookie consent lives currently

[2021-06-28 18:29] csantanapr commented on #316
@julz if you referring to this https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/DNT
Is deprecated
![Uploading image.png…]()

[2021-06-29 13:43] #278 closed